body {
    background-image:url('http://www.psdgraphics.com/file/wooden-panels.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
h1{
                                  color: Red;
			        			        text-align: center;
			    }

